body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-align: center;
    background: rgb(51, 51, 51);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
}

::before, ::after {
    box-sizing: inherit;
}

.flex {
    display: flex;

    &_jc-c {
        justify-content: center;
    }
    &_ai_c {
        align-items: center;
    }
}

a {
    color: white;
    text-decoration: none;
    padding: 1rem;

    &:hover {
        text-decoration: underline;
    };
}

.nav {
    &__go {
        color:rgb(151, 113, 212)
    }
}

.disabled {
    opacity: .1 !important;
    pointer-events: none !important;
}

.currentPage{
    color: rgb(151, 113, 212)
}

